/*styles go here*/

/*p {
		color: red;
}*/

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}


.title {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-flow: column;
}

.authorbox img {
  /*visibility: hidden;*/
  display: none;
}
.pullquote {
  display: none;
}


article {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}

article:last-of-type {
  border-bottom: none;
}



p {
	color: #666666;
    font-family: 'Italiana', serif;
		font-size: 1rem;
		line-height: 1.5rem;
}

.italic {
	font-style: italic;
}

h1 {
    font-family: 'Gurajada', serif;}

body {
	background-color: #ebe3ce;
}




#pullquote {
  font-size: 1.5em;
	font-family: 'Merriweather Sans', sans-serif;
	color: #fff;

}

.wrapper {
    display: flex;
    flex-flow: column wrap;
}




/*

#container{
    width: 100%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}*/

#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #98bf21;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Harmattan', sans-serif;
}

#nav a:hover, a:active {
    background-color: #7a991a;
}




/*Navigation styles*/

.navigation{
	list-style: none;
	margin: 0;
	background: gray;
    padding: 0;
    display: flex;
	flex-flow: column;
}


.navigation a {
	text-decoration: none;
	display: block;
	color: white;
    text-align:center;
    padding: 10px;
    border-bottom:1px solid black;
}

.navigation li:last-of-type a{
  border-bottom: none;
}

/*Image width*/

img {
    width: 100%;
}
@media (min-width:800px) {
  nav ul {
       display: flex;
   }

   nav ul li {
       border-top: none;
   }


  .menu-trigger {
    display: none;
}



	grid-template-areas:
			"a b b "
			"a b b "
			". c c ";
    .navigation {
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .navigation a {
        border: none;
    }

    .navigation a:hover {
    	background: black;
    }

    aside {
        flex: 1 auto;
    }

    article {
		flex: 3 0px;
	}

    /* .aside-1 {
        order: 1;
    }

    article {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    footer {
        order: 4;
    } */

		img {
							 width: 45%;
							 float: left;
							 margin-right: 10px;
					 }

					 .first {
							 margin-top: 0;
					 }


           /* When greater than 800px wide */
@media (min-width:800px) {

  .navigation {
      flex-flow:row;
      justify-content: flex-end;
  }

  .navigation a {
      border: none;
  }

  .navigation a:hover {
    background: #D3B939;
  }

					 /*These styles apply to the Flexbox image technique */

	 article {
			 display: flex;
			 flex-flow: row;
			 flex-wrap: wrap;
	 }

	 /*This code is for the first image attempt -- the object-fit property*/
	 /*img {
			 width: 45%;
			 object-fit: contain;
	 }*/

	 /* .authorbox {
	 	width: 100%;
	 	grid-area: a;
	 } */

	 .section1 {
	 	grid-area: a;
	 }

	 .image {
	 	grid-area: d;
	 }

	 .section2 {
	 	grid-area: b;
	 }

	 .pullquote {
	 	margin-top: 0;
	 	grid-area: e;
	 }

	 .section1 p:first-of-type, .section2 p:first-of-type {
	 	margin-top: 0;
	 }

	 }


	 .image {
			 width: 45%;
			 margin-right: 10px;
	 }

	 .story {
			 width: 45%;
	 }

	 .first {
			 margin-top: 0;
	 }
}
